body {
  background-color: dimgray;
}

h1 {
  color: gainsboro;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: rgb(165, 153, 235);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
  border: 5px solid rgb(165, 153, 235);
  margin-right: 600px;
  background-color: rgb(101, 78, 235);
}

button {
  background-color: darkcyan;
  color: aqua;
}

input {
  float: left;
  border: 3px solid rgb(0, 54, 54);
  background-color: black;
  color: aliceblue;
  font-weight: bold;
}

p {
  color: cadetblue;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
